#uc-content>div.primary{width: 794px;margin: 0;}
.container_6{width:774px;margin-left:10px;margin-right:10px;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6{display:inline;float:left;margin-left:10px;margin-right:10px;}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6{position:relative;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.container_6 .grid_1{width:109px;}
.container_6 .grid_2{width:238px;}
.container_6 .grid_3{width:367px;}
.container_6 .grid_4{width:496px;}
.container_6 .grid_5{width:625px;}
.container_6 .grid_6{width:754px;}
.container_6 .prefix_1{padding-left:129px;}
.container_6 .prefix_2{padding-left:258px;}
.container_6 .prefix_3{padding-left:387px;}
.container_6 .prefix_4{padding-left:506px;}
.container_6 .prefix_5{padding-left:645px;}
.container_6 .suffix_1{padding-right:129px;}
.container_6 .suffix_2{padding-right:258px;}
.container_6 .suffix_3{padding-right:387px;}
.container_6 .suffix_4{padding-right:506px;}
.container_6 .suffix_5{padding-right:645px;}
.container_6 .push_1{left:129px;}
.container_6 .push_2{left:258px;}
.container_6 .push_3{left:387px;}
.container_6 .push_4{left:506px;}
.container_6 .push_5{left:645px;}
.container_6 .pull_1{left:-129px;}
.container_6 .pull_2{left:-258px;}
.container_6 .pull_3{left:-387px;}
.container_6 .pull_4{left:-506px;}
.container_6 .pull_5{left:-645px;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
